#!/bin/bash
#
# vim: ft=sh

# Exit on error
set -o nounset
set -o errexit

# Remove old backups
/usr/local/bin/duplicity-exec remove-all-but-n-full {{ remove_all_but_n_full }} --force
/usr/local/bin/duplicity-exec cleanup --force

{% for cmd in exec_pre %}
{{ cmd }}
{%- endfor %}

# Backup selected directories
/usr/local/bin/duplicity-exec \
  --full-if-older-than {{ full_if_older_than }} \
  --exclude-device-files / \
{%- for dir in exclude_dirs %}
  --exclude '{{ dir }}'
{%- endfor %}
{%- for dir in include_dirs %}
  --include '{{ dir }}' \
{%- endfor %}
 --exclude '**'

{% if verify %}
# Verify backup (takes quite a while)
/usr/local/bin/duplicity-exec verify \
  --exclude-device-files / \
{%- for dir in exclude_dirs %}
  --exclude '{{ dir }}'
{%- endfor %}
{%- for dir in include_dirs %}
  --include '{{ dir }}' \
{%- endfor %}
 --exclude '**'
{%- endif %}

{% for cmd in exec_post %}
{{ cmd }}
{%- endfor %}
